include AUTHORS
include CHANGELOG
include INSTALL
include LICENSE
include README.rst

include docs/Makefile
recursive-include docs *.rst
recursive-include docs *.py

recursive-include demo *
recursive-include tests *
recursive-include steampak *.py

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * empty
recursive-exclude * *.so
recursive-exclude * *.txt
